body {
  background: linear-gradient(-180deg,#c7d2f5  0%,rgb(117, 117, 216)  100%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

nav {
  background-color: rgb(100, 90, 156);
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(129, 196, 235);
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: none;
    padding: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 10px 0;
  border: black 0;
}
/* CSS code for all of the lists that were used. This includes the hover effect as well. */
ol {
  list-style-type: none;
  margin: 20;
  padding: 0;
  width: 200px;
  background-color:none;
  text-align: left; 
  color: rgb(221, 211, 211); 
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


 li a {
  display: block;
  color: rgb(3, 10, 17);
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
    color: rgb(27, 79, 175);
    text-decoration:none;
    text-align: left; 
}
/* CSS code for the table. Need to revisit for color scheme and layout. */
table{
    border-color: none;
    border-width: 0px;
    border-style: solid;
}

th{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(21, 31, 124);
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

tr
{
    border-color: none;
    border-width: 1px;
    border-style: solid;
}

td{

    background-color: rgb(60, 86, 204);
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/* Mobile devices */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  
  nav li {
    min-width: 100%;
  }
}

/* Tablets and larger */
@media (min-width: 769px) {
  nav ul {
    display: flex;
  }
}